<div class="lstask">
    
    <div class="name">
        <h2 >List Tasks</h2>
    </div>
    <div class="findTask">
            <input #taskKey type="text"  (keyup)="findTask(taskKey.value)" (keyup.enter)="findTask(taskKey.value)" >
            <button (click)="findTask(taskKey.value)" >Find</button>
        </div>
    <div class="tasks">
        <ul>
                <!-- //(click)="activeDetail()" -->
            <li *ngFor="let task of tasks"  >
                <a routerLink="/detail/{{task.id}}">
                    <span  class="badge" id="activeDetail">{{task.id}}</span>{{task.taskName}}
                </a>
            </li>
        </ul>
    </div>
    <div class="partpage">
            <div *ngFor="let i of pages" class="btpage">
                <button (click)="partionPage(i)">{{i}}</button>
            </div>      
        </div>
</div>
<div id="calendar" class="commom">
    <app-day-grid-month></app-day-grid-month>
</div>