.gird-month{
    margin-left: 30%;
}
.weekMonth{
    height: 100px;
}
.weekMonth header{
    text-align: right;
}
.weekMonth td{
    width: 100px;
}
.goback{
    border-radius: 40px 0px 0px 40px;
    margin-bottom: 10px;
    border: none;
    background-color: #2C3E50;
    color: aliceblue; 
    height: 30px;
}
.formCalander{
    height:30px ;
    width: 184px;
}